/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 64, 192, 0.7) 70%,
    rgba(0, 216, 255, 0.5) 90%
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/** Below are for app/features/genealogy **/
.viewer {
  text-align: center;
}
.title {
  margin-top: 5px;
}
.hr {
  margin-top: 10px;
}
svg {
  border: 4px solid #e6e6e6;
}
.person rect {
  fill: #fff;
  stroke: #bfbfbf;
  stroke-width: 2px;
}
.person {
  font: 14px sans-serif;
  cursor: pointer;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.name {
  font-weight: bold;
}
.lifespan,
.birth_place {
  fill: #777;
}

/** Above are for app/features/genealogy **/
